*.pyc
.idea/
.idea/*
./idea/gradcon.iml
./idea/gradcon.iml
./idea/inspectionProfiles/*
./idea/inspectionProfiles/profile_settings.xml
./idea/inspectionProfiles/Project_Default.xml
log/
backups/
project/*/migrations/
site-media/media/
site-media/static/
