/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
  background: #fff;
  color: #42423a;
  font-family: "Droid Serif", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
}

a {
  color: #5B8786;;
  text-decoration: underline;
}

a:hover {
  color: #517075;
}

p {
  margin: 20px 0;
}

h1, h1 a, h2 , h2 a, h3, h3 a, h4, h4 a, .subtext, .button {
  color: #464646;
  font-family: 'Droid Sans', serif;
  font-weight: normal;
  text-decoration: none;
}
h1 {
  font-size: 4em;
  line-height: 1em;
}
h2 {
  font-size: 2em;
  line-height: 2em;
}
h3 {
  font-size: 1.5em;
  line-height: 2em;
}
h4 {
  font-size: 1.3em;
  line-height: 2em;
  font-weight: bold;
}

header {
  margin: 20px 0 40px;
}

header .subtext {
  color: #bbb;
  font-size: 1em;
  line-height: 2em;
  margin: 0 0 0 5px;
}

header .blurb {
  /*margin-top: 70px;*/
}
header .blurb h4 {
  margin-left: 5px;
  line-height: 1.5em;
}

div.row {
  margin-bottom: 20px;
  padding: 0 10px;
}

div.row.heading {
  padding-top: 20px;
  border-top: solid 1px #999;
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

body {

}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}